site_name: Constellation
site_description: Documentation for Constellation, the collaborative storytelling platform.
site_url: https://constellationstories.fr


theme:
  name: material
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: indigo
      accent: indigo
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: indigo
      accent: indigo
  features:
  - content.code.annotate
  - content.code.copy
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.instant.progress
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow


markdown_extensions:
  - pymdownx.extra:
      toc:
        permalink: true
      highlight:
        linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format


plugins:
  search: null
  multirepo:
    cleanup: true
    keep_docs_dir: false
    repos:
      - section: Web Application
        import_url: https://github.com/constellation-story/constellation.git?branch=develop&edit_uri=/blob/develop/&docs_dir=/docs
      - section: Core API
        import_url: https://github.com/constellation-story/constellation-backend.git?branch=develop&docs_dir=api_postgres/docs&edit_uri=/blob/develop/api_postgres/docs/
      - section: Neo4j API
        import_url: https://github.com/constellation-story/constellation-backend.git?branch=develop&docs_dir=api_neo4j/docs&edit_uri=/blob/develop/api_neo4j/docs/
      - section: CRDT Server
        import_url: https://github.com/constellation-story/constellation-backend.git?branch=develop&docs_dir=crdt_server/docs&edit_uri=/blob/develop/crdt_server/docs/
