name: Build and Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/workflows/build.yml'
  workflow_dispatch:
  repository_dispatch:
    types: [docs-updated]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git for private repos
        run: |
          git config --global url."https://oauth2:${{ secrets.READ_SRC_REPOS }}@github.com/".insteadOf "git@github.com:"
          git config --global url."https://oauth2:${{ secrets.READ_SRC_REPOS }}@github.com/".insteadOf "ssh://git@github.com/"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v4


      - name: Build documentation
        run: |
          uvx --from mkdocs --with mkdocs-material --with mkdocs-multirepo-plugin  mkdocs build

      - name: Push to artifact branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: artifact
          force_orphan: true
